env:
    browser: true
    es6: true
    node: true

extends:
    - airbnb-base

parserOptions:
    ecmaFeatures:
        experimentalObjectRestSpread: true

    sourceType: module

rules:
    indent:
        - error
        - 4

    import/prefer-default-export:
        - off
